<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
<div>
	<input v-model="cityCode"><button @click="lookupHotels">Search</button>
<div style="height: 500px; width: 100%">
<l-map  :zoom="4"
        :center="center"
		:bounds.sync="bounds"
        :options="mapOptions">
  <l-tile-layer
        :url="url"
        :attribution="attribution"
      ></l-tile-layer>
	<l-marker
        v-for="hotel in hotels"
        :key="hotel.hotel.hotelId"
        :lat-lng="hotel.coordinates"
      >
        <l-popup>
          <h5>
            {{hotel.hotel.name}}
          </h5>
		  <table>
			<tr v-if="hotel.hotel.address"><td><b>Address</b></td><td>{{hotel.hotel.address.lines.join(', ')}} {{hotel.hotel.address.cityName}} {{hotel.hotel.address.stateCode}} {{hotel.hotel.address.postalCode}}</td></tr>
			<tr v-if="hotel.hotel.contact && hotel.hotel.contact.phone"><td><b>Phone</b></td><td>{{hotel.hotel.contact.phone}}</td></tr>
			<tr v-if="hotel.hotel.contact && hotel.hotel.contact.fax"><td><b>Fax</b></td><td>{{hotel.hotel.contact.fax}}</td></tr>
			<tr v-if="hotel.hotel.contact && hotel.hotel.contact.email"><td><b>Email</b></td><td>{{hotel.hotel.contact.email}}</td></tr>
		  </table>
		  <p v-if="hotel.hotel.description" style="max-height: 150px; overflow-y: scroll;">
          {{hotel.hotel.description.text}}
          </p>
			<button @click="addToTrip(hotel)" v-if="!selectedHotels.includes(hotel)" class="btn btn-primary btn-block">Add to Trip</button>
			<button @click="removeFromTrip(hotel)" v-if="selectedHotels.includes(hotel)" class="btn btn-danger btn-block">Remove from Trip</button>
    		</l-popup>
        <l-tooltip :content="hotel.hotel.name" />
      </l-marker>
</l-map>
</div>
<button @click="proceed" v-if="selectedHotels.length > 0" class="btn btn-primary btn-block">Proceed with {{selectedHotels.length}} selected hotels</button>
</div>
</wicket:extend>